<strong>Recuperando senha</strong>

<p>Uma solicitaçao de recuperação de senha foi realizada para o e-mail ({{ email }}). </p>

<p>Se não foi você, pense em trocar sua senha</p>

<p>Para continuar utilize o token {{ token }} ou o clique no link: </p>

<a href="{{ link }}">Criar nova senha</a>
